#pwcheck, #ucheck, #no_name, #no_user, #no_pw, #no_pw2, #errors {
	color: red;
}
#check {
	color: green;
}
p {
	font-size: 16px;
}
.btn-success {
	background-color: #006600;
}
.jumbotron {
	background-color: #6B0024;
	color: white;
}


